
.mainpage {
	background-image: url("../../assets/Fleur.jpg");
	background-size: cover;
}

.mainpage__button{
	text-decoration: none;
	color:white;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 110%;
	left: 47%;
	transform: rotate(90deg);
}

.mainpage__card {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
  justify-content: center;
	position: relative;
}
.mainpage__border__button{
	display: flex;
	flex-direction: column;
	position: relative;
}

.mainpage__card__logo {
	position: absolute;
	top: 0;
	left: 0;
}

.mainpage__card__text {
	color: white;
	text-align: center;
	border-style: solid;
	padding: 35px 0px 35px 0px;
	border-width: 5px;
	width: 33vw;
	font-size: 2em;
}

.nextpage {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.nextpage__sentence {
	text-align: center;
	font-size: 1.6em;
	padding: 40px 12.5vw 0px 12.5vw;
	width:80%;
	margin:0;
}

.nextpage__sentence__text{
	font-size: 0.9em;
	margin:0;
}

.nextpage__form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nextpage__form__text {
	padding: 30px;
	flex-basis: 30vw;
}

.nextpage__form__button {
	border: 1px solid;
	background-color: #CCCCCC;
    color:white;
    height:50px;
    text-align: center;
    line-height: 7px;
    width:150px;
    text-decoration: none;
	align-items: center;
	cursor: pointer;
	margin:20px;
}

.nextpage__form__button:hover {
	background-color: #7AA93C;
	border-color: 4px solid red;
}

.nextpage__form__button:active {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.nextpage__footer {
	background-image: url("../../assets/Fleur.jpg");
	position: absolute;
	bottom: 0;
	width: 100vw;
	display: flex;
	height: 3vw;
	justify-content: space-evenly;
	align-items: center;
}

.nextpage__footer div {
	flex-grow: 1;
	text-align: center;
}
