@font-face {
    font-family: 'Montserrat-Thin';
    src: url('Montserrat-Thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('Montserrat-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}

.header{
    background-image: url('./photo-base.jpg');
    width:100%;
    height:500px;
    display:flex;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    background-size: cover;
}

.header__photo{
    width:95%;
    display:flex;
    margin-right:auto;
    margin-left:auto;
    margin-top:90px;
    object-fit: scale-down;

}
.header__title{
    text-align: center;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    font-size: 1.5em;
}
.header__description{
    text-align: center;
    font-family: "Montserrat-Thin";
    letter-spacing: 2px;
    width:70%;
    display: flex;
    margin-right:auto;
    margin-left:auto;
}
.header__base__progress{
    height:25px;
    display:flex;
    list-style: none;
    justify-content: space-around;
    margin: 5px auto;
    padding:0;
    width:95%;
}
.header__base__progress__item{
    background-color:#7AA93C;
    height:10px;
    width: 24%;
    margin:3px;
}
.header__base__progress__item__inactive{
    background-color:#D6D6D6;

}
@media only screen and (min-width:660px){
    .header{
        width:100%;
    }
}
@media only screen and (max-width:660px){
    .header__title{
        font-size:30px;
        width:100%;
    }
    .container__header{
        width:100%;
    }
    .header__description{
        width:95%;
        text-align: justify;
    }
}