@font-face {
    font-family: 'Montserrat-Thin';
    src: url('Montserrat-Thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('Montserrat-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}

.photo-header{
    width: 100vh - 5%;
    height:auto;
    display:flex;
    margin-right:auto;
    margin-left:auto;
    padding-top:80px;
}
.container{
    background-color: #F8F8F8;
}
.container__title{
    text-align: center;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    font-size: 1.5em;
}
.container__text{
    text-align: center;
    font-family: "Montserrat-Thin";
    letter-spacing: 2px;
    width:70%;
    display: flex;
    margin-right:auto;
    margin-left:auto;
}
.container__text__description{
    text-align: justify;
    width:95%;
}
.div-btn{
    width:100%;
    display:flex;
    margin-right: auto;
    margin-left: auto;
}
.container__btn{
    width:25%;
    height:6em;
    margin:35px;
    text-align:center;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    background-color: #F8F8F8;
    letter-spacing: 2px;
    padding:20px;
    border:3px solid rgb(214, 214, 214);
    display:flex;
    margin-right:auto;
    margin-left:auto;
}
.container__btn:active{
    background-color:#7AA93C;
    color:white;
}
.container__btn:hover{
    background-color:#7AA93C;
    color:white;
}
.container__btn-suivant{
    background-color: #7AA93C;
    color:white;
    width:10%;
    height:4em;
    padding:0;
    text-align: center;
    margin:0;
}

@media only screen and (min-width: 768px) {
    .photo-header{
        width: 95%;
        height:auto;
        display:flex;
        margin-right:auto;
        margin-left:auto;
        padding-top:90px;
    } 
}
