@font-face {
    font-family: 'Montserrat-Thin';
    src: url('Montserrat-Thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('Montserrat-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}

.div-btn__options{
    width:100%;
    display:flex;
    margin:40px auto;
}
.div-btn__options--background{
    background-color: #F8F8F8;
    height:600px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.div-btn__options__section{
    display:flex;
    flex-direction: column;
    width: 30%;
    margin-right:auto;
    margin-left:auto;
}
.div-btn__options__section__header{
    text-align:center;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    letter-spacing: 2px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7AA93C;
}
.div-btn__options__section__description{
    height:520px;
    background-color: white;
    border-radius: 10px;
}
.div-btn__options__section__description__item{
    height: 120px;
    width: 80%;
    background-color: #F8F8F8;
    margin: 0 auto 30px auto;
    display: flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    text-align:center;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    color: rgb(105, 105, 105);
    border-radius: 8px;
}
.div-btn__options__section__description__item.height__change:hover{
    background-color: #7AA93C;
    color: white;
}
.div-btn__options__section__description__item--change{
    background-color: #7AA93C;
    height: 30%;
    width: 80%;
    margin: 0 auto 30px auto;
    display: flex;
    box-shadow:  0px 2px 1px rgba(0,0,0,0.3);
    cursor:pointer;
    justify-content: center;
    align-items: center;
    text-align:center;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    color:white;
    pointer-events: none;
}
.div-btn__options__section__description__item.height__change{
    height:10%;
    display:flex;
    background-color: #F8F8F8;
}
.div-btn__options__section__description__item--change.height__change{
    height:10%;
    display:flex;
    margin-right: auto;
    margin-left: auto;
}
.div-btn__options__section__description__item__text{
    display: flex;
    margin: 20px auto 30px auto;
    text-align:center;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    font-size: 15px;
    color: rgb(105, 105, 105);
}
.div-btn__options__section__description__item__selection{
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    margin-top:200px;
}
.container__btn__options{
    text-align:center;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    background-color: #F8F8F8;
    letter-spacing: 2px;
    padding:20px;
    display:flex;
    margin: 35px auto;
    justify-content: center;
    color:white;
    height:20px;
    line-height: 7px;
    width:150px;
    text-decoration: none;
    align-items: center;
}

.container__btn-suivant__options{
    background-color: #7AA93C;
}
.container__btn-precedent__options{
    background-color: #CCCCCC;

}
.container__btn-precedent__options:hover{
    background-color: #7AA93C;

}
.container__btn-suivant__options:hover{
    background-color: rgb(158, 218, 79);
}

@media only screen and (max-width: 768px) {
    .photo-header__options{
        width: 100vh;
        height:auto;
        display:flex;
        margin-right:auto;
        margin-left:auto;
        padding-top:90px;
    } 
    .container__title__options{
        text-align: center;
        font-family: "Montserrat-SemiBold";
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .container__text__options{
        text-align: center;
        font-family: "Montserrat-Thin";
        letter-spacing: 2px;
        width:70%;
        display: flex;
        margin-right:auto;
        margin-left:auto;
    }
    .container__text__description__options{
        text-align: justify;
        width:95%;
    }

    .div-btn__options{
        width:100%;
        display:flex;
        margin-right: auto;
        margin-left: auto;
    }
    .container__btn__options{
        width:31%;
        height:8em;
        margin:35px;
        text-align:center;
        text-transform: uppercase;
        font-family: "Montserrat-SemiBold";
        background-color: #F8F8F8;
        letter-spacing: 2px;
        padding:20px;
        border:3px solid rgb(214, 214, 214);
        display:flex;
        margin-right:auto;
        margin-left:auto;
        justify-content: center;
        cursor: pointer;
    }
    .container__btn__options:active{
        background-color:#7AA93C;
        color:white;
    }
    .container__btn__options:hover{
        background-color:#7AA93C;
        color:white;
    }
    .container__btn-suivant__options{
        background-color: #7AA93C;
        color:white;
        height:50px;
        padding:auto;
        text-align: center;
        line-height: 7px;
        width:150px;
    }

    .container__btn-precedent__options{
        background-color: #CCCCCC;
        color:white;
        width:150px;
        height:50px;
        text-align: center;
        line-height: 7px;
    }
}
.div-btn__options__section__description__item__photo{
    height:120px;
    padding-right: 40px;
}
@media only screen and (max-width: 1120px){
    .div-btn__options__section__description__item{
        flex-direction: column;
        height:160px;
        display:flex;
        align-items: center;
        margin-bottom:10px;
        background-color: white;
    }
    .div-btn__options__section__description__item__photo{
        width:100px;
        height:100px;
        padding-bottom: 20px;
        margin-bottom:-220px;
    }
    .div-btn__options__section__description__item__selection{
        flex-direction: row;
        padding-top: 10px;
    }
    .div-btn__options__section__description__item__text{
        margin-right:10px;
    }
    .div-btn__options__section__description{
        height:600px;
    }
    .div-btn__options--background{
        height:700px;
    }
}

@media only screen and (max-width: 532px){
    .div-btn__options__section__description__item__photo{
        width:80px;
        height:80px;
        margin-left: 40px;
        padding-bottom: 20px;
        margin-bottom:-220px;
    }
    .div-btn__options__section__description__item__text{
        margin-right: auto;
    }
    .div-btn__options__section__description__item__selection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}